<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

## Imports

Import any additional libraries you may need here.

In [ ]:
import urllib.request
from urllib.request import urlopen, Request
import pandas as pd
import json
import glob
import xml.etree.ElementTree as ET  # this module helps in processing XML files.
from datetime import datetime

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) and create a free account.
2.  Once the account is created. You will get the Get the Free API key option on the top as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/getapi.png"/>

3.  Copy the API key and use in the url in Question 1.

In [33]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/source.zip
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2022-01-03 23:13:37--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: ‘bank_market_cap_1.json.1’

bank_market_cap_1.j 100%[===================>]   2.75K  --.-KB/s    in 0s

2022-01-03 23:13:37 (66.4 MB/s) - ‘bank_market_cap_1.json.1’ saved [2815/2815]

--2022-01-03 23:13:39--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: ‘bank_market_cap_2.json.1’

bank_market_cap_2.j 100%[===================>]   1.40K  --.-KB/s    in 0s

2022-01-03 23:13:39 (32.5 MB/s) - ‘bank_market_cap_2.json.1’ saved [1429/1429]

--2022-01-03 23:13:40--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: ‘exchange_rates.csv.1’

exchange_rates.csv. 100%[===================>]     590  --.-KB/s    in 0s

2022-01-03 23:13:40 (12.8 MB/s) - ‘exchange_rates.csv.1’ saved [590/590]

In [ ]:
!unzip source.zip

In [ ]:
def extract_from_json(file_to_process):
    df = pd.read_json(file_to_process)
    return df

In [17]:
columns=['Name','Market Cap (US$ Billion)']

In [19]:
import glob

In [21]:
def extract(filename):
    data_extract = pd.DataFrame()
    for jsonfile in glob.glob(filename):
        data_extract = data_extract.append(extract_from_json(jsonfile), ignore_index=True)
    return    data_extract
extract("bank_market_cap_1.json")

                                       Name  Market Cap (US$ Billion)
0                            JPMorgan Chase                   390.934
1   Industrial and Commercial Bank of China                   345.214
2                           Bank of America                   325.331
3                               Wells Fargo                   308.013
4                   China Construction Bank                   257.399
..                                      ...                       ...
65                             Ping An Bank                    37.993
66                       Standard Chartered                    37.319
67                     United Overseas Bank                    35.128
68                                QNB Group                    33.560
69                              Bank Rakyat                    33.081

[70 rows x 2 columns]

In [22]:
def extract(filename):
    data_extract = pd.DataFrame()
    for jsonfile in glob.glob(filename):
        data_extract = data_extract.append(extract_from_json(jsonfile), ignore_index=True)
    return    data_extract
extract("bank_market_cap_1.json")

                                       Name  Market Cap (US$ Billion)
0                            JPMorgan Chase                   390.934
1   Industrial and Commercial Bank of China                   345.214
2                           Bank of America                   325.331
3                               Wells Fargo                   308.013
4                   China Construction Bank                   257.399
..                                      ...                       ...
65                             Ping An Bank                    37.993
66                       Standard Chartered                    37.319
67                     United Overseas Bank                    35.128
68                                QNB Group                    33.560
69                              Bank Rakyat                    33.081

[70 rows x 2 columns]

In [24]:
def extract_from_csv(file_to_process):
    df = pd.read_csv(file_to_process)
    return df
def extract_csv(filename):
    data_extract = pd.DataFrame() #   columns=['Value','Rate']   
    for csvfile in glob.glob(filename):
        data_extract = data_extract.append(extract_from_csv(csvfile), ignore_index=True)
        exchange_rate = data_extract.loc[data_extract["Unnamed: 0"] == "GBP", ["Rates"]].astype(float)
        exchange = exchange_rate.iloc[0,0]
    return exchange 

print(extract_csv('exchange_rates.csv'))

0.7323984208000001

In [26]:
data_extract = extract("bank_market_cap_1.json")

def transform(data):
    data["Market Cap (US$ Billion)"] = data["Market Cap (US$ Billion)"].astype(float)  
    coef = extract_csv('exchange_rates.csv') 
    data["Market Cap (US$ Billion)"] = round(data["Market Cap (US$ Billion)"] * coef,3)
    data.rename(columns={'Market Cap (US$ Billion)': 'Market Cap (GBP Billion)'}, inplace = True)
    return data
data_transform = transform(data_extract) 
data_transform

                                       Name  Market Cap (GBP Billion)
0                            JPMorgan Chase                   286.319
1   Industrial and Commercial Bank of China                   252.834
2                           Bank of America                   238.272
3                               Wells Fargo                   225.588
4                   China Construction Bank                   188.519
..                                      ...                       ...
65                             Ping An Bank                    27.826
66                       Standard Chartered                    27.332
67                     United Overseas Bank                    25.728
68                                QNB Group                    24.579
69                              Bank Rakyat                    24.228

[70 rows x 2 columns]

In [27]:
def load(targetfile,data_to_load):
    data_to_load.to_csv(targetfile, index = False)

In [28]:
def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

In [ ]:
log("ETL Job Started")

In [ ]:
log("Extract phase Started")
data_extract = extract("bank_market_cap_1.json")

In [ ]:
log("Extract phase Ended")
data_extract.head(5)

In [ ]:
log("Transform phase Started")

In [ ]:
data_transform = transform(data_extract)
data_transform.head(5)

In [ ]:
log("Transform phase Ended")

In [ ]:
load('bank_market_cap_gbp.csv',data_transform)

In [ ]:
log("Load phase Ended")

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [2]:
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=8fdb0597bc16069403004360703658b7"  #Make sure to change ******* to your API key.

In [9]:
# Drop unnescessary columns
df = pd.DataFrame(data)

df_drop = df.drop(columns = ['success','timestamp','base','date'])
df_drop

df_drop.index.name = 'Currency'
df_drop.rename(columns ={'rates':'Rates'}, inplace = True)
df_drop

                 Rates
Currency
AED           4.159986
AFN         117.209502
ALL         120.613523
AMD         560.333008
ANG           2.042214
...                ...
YER         283.421474
ZAR          17.744626
ZMK       10194.304215
ZMW          18.753166
ZWL         364.681835

[168 rows x 1 columns]

In [5]:
# Turn the data into a dataframe
response = urlopen(url)
elevations = response.read()
data = json.loads(elevations)
data

{'success': True,
 'timestamp': 1641248944,
 'base': 'EUR',
 'date': '2022-01-03',
 'rates': {'AED': 4.148459,
  'AFN': 117.181483,
  'ALL': 120.004864,
  'AMD': 543.936268,
  'ANG': 2.036385,
  'AOA': 625.95078,
  'ARS': 116.285835,
  'AUD': 1.571301,
  'AWG': 2.033591,
  'AZN': 1.922067,
  'BAM': 1.946025,
  'BBD': 2.281356,
  'BDT': 96.937373,
  'BGN': 1.955487,
  'BHD': 0.425794,
  'BIF': 2264.565557,
  'BMD': 1.129459,
  'BND': 1.525348,
  'BOB': 7.801962,
  'BRL': 6.418267,
  'BSD': 1.129932,
  'BTC': 2.4387497e-05,
  'BTN': 83.976577,
  'BWP': 13.285653,
  'BYN': 2.889043,
  'BYR': 22137.398964,
  'BZD': 2.277525,
  'CAD': 1.440208,
  'CDF': 2262.87624,
  'CHF': 1.037971,
  'CLF': 0.034866,
  'CLP': 962.071161,
  'CNY': 7.178956,
  'COP': 4591.059359,
  'CRC': 725.335341,
  'CUC': 1.129459,
  'CUP': 29.930667,
  'CVE': 110.545809,
  'CZK': 24.801567,
  'DJF': 200.727645,
  'DKK': 7.437374,
  'DOP': 64.746268,
  'DZD': 157.177774,
  'EGP': 17.788303,
  'ERN': 16.941975,
  'ETB': 55.625438,
  'EUR': 1,
  'FJD': 2.403716,
  'FKP': 0.85204,
  'GBP': 0.838018,
  'GEL': 3.490443,
  'GGP': 0.85204,
  'GHS': 6.945952,
  'GIP': 0.85204,
  'GMD': 59.804756,
  'GNF': 10546.322997,
  'GTQ': 8.719957,
  'GYD': 236.394142,
  'HKD': 8.807352,
  'HNL': 27.61509,
  'HRK': 7.518589,
  'HTG': 112.935465,
  'HUF': 367.255219,
  'IDR': 16132.798914,
  'ILS': 3.513962,
  'IMP': 0.85204,
  'INR': 84.039609,
  'IQD': 1649.010331,
  'IRR': 47719.647956,
  'ISK': 147.597551,
  'JEP': 0.85204,
  'JMD': 173.913572,
  'JOD': 0.800752,
  'JPY': 130.261083,
  'KES': 127.798509,
  'KGS': 95.784248,
  'KHR': 4602.546434,
  'KMF': 492.72621,
  'KPW': 1016.51313,
  'KRW': 1350.420811,
  'KWD': 0.341684,
  'KYD': 0.941577,
  'KZT': 491.493571,
  'LAK': 12655.590018,
  'LBP': 1706.409467,
  'LKR': 229.227891,
  'LRD': 164.618524,
  'LSL': 17.87954,
  'LTL': 3.334999,
  'LVL': 0.683198,
  'LYD': 5.196554,
  'MAD': 10.472908,
  'MDL': 20.077836,
  'MGA': 4478.304978,
  'MKD': 61.335348,
  'MMK': 2008.956979,
  'MNT': 3228.428646,
  'MOP': 9.074975,
  'MRO': 403.216715,
  'MUR': 49.248086,
  'MVR': 17.44985,
  'MWK': 920.509133,
  'MXN': 23.170572,
  'MYR': 4.712671,
  'MZN': 72.093194,
  'NAD': 17.890791,
  'NGN': 466.173213,
  'NIO': 39.954618,
  'NOK': 10.021934,
  'NPR': 134.365961,
  'NZD': 1.665809,
  'OMR': 0.434874,
  'PAB': 1.129932,
  'PEN': 4.499794,
  'PGK': 3.986662,
  'PHP': 57.650419,
  'PKR': 199.347891,
  'PLN': 4.575331,
  'PYG': 7764.350565,
  'QAR': 4.112418,
  'RON': 4.947936,
  'RSD': 116.962677,
  'RUB': 84.055479,
  'RWF': 1147.530477,
  'SAR': 4.239833,
  'SBD': 9.134361,
  'SCR': 16.667766,
  'SDG': 494.136374,
  'SEK': 10.293935,
  'SGD': 1.529429,
  'SHP': 1.555715,
  'SLL': 12706.415353,
  'SOS': 659.603953,
  'SRD': 23.848572,
  'STD': 23377.523639,
  'SVC': 9.887183,
  'SYP': 2837.757915,
  'SZL': 17.89023,
  'THB': 37.520776,
  'TJS': 12.766973,
  'TMT': 3.953107,
  'TND': 3.25852,
  'TOP': 2.567932,
  'TRY': 14.758303,
  'TTD': 7.682461,
  'TWD': 31.217684,
  'TZS': 2604.532654,
  'UAH': 30.825782,
  'UGX': 4005.418383,
  'USD': 1.129459,
  'UYU': 50.523551,
  'UZS': 12240.502059,
  'VEF': 241512497066.04053,
  'VND': 25813.788435,
  'VUV': 127.914243,
  'WST': 2.936787,
  'XAF': 652.668478,
  'XAG': 0.049317,
  'XAU': 0.000627,
  'XCD': 3.052419,
  'XDR': 0.807332,
  'XOF': 653.389482,
  'XPF': 120.004949,
  'YER': 282.647086,
  'ZAR': 17.949818,
  'ZMK': 10166.472245,
  'ZMW': 18.832809,
  'ZWL': 363.685379}}

## Set paths

In [6]:
tmpfile    = "temp.tmp"               # file used to store all extracted data
logfile    = "logfile.txt"            # all event logs will be stored in this file
targetfile = "transformed_data.csv"   # file where transformed data is stored

## Extract from csv file

In [7]:
def extract_from_csv(file_to_process):
    data = pd.read_csv(file_to_process)
    return data

### JSON Extract Function

In [8]:
def extract_from_json(file_to_process):
    data = pd.read_json(file_to_process,lines=True)
    return data

## Extract Data

In [9]:
def extract():
    extracted_data = pd.DataFrame(columns=[]) # create an empty data frame to hold extracted data
    
    #process all csv files
    for csvfile in glob.glob("*.csv"):
        extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)
        
    #process all json files
    for jsonfile in glob.glob("*.json"):
        extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)

## Transform

In [12]:
def transform(df_drop):
    df_drop = pd.DataFrame(data)
    df_drop = df_drop.drop(columns = ['success','timestamp','base','date'])
    df_drop.index.name = 'Currency'
    df_drop.rename(columns ={'rates':'Rates'}, inplace = True)
    return df_drop

## Loading

In [13]:
def load(targetfile,data_to_load):
    data_to_load.to_csv(targetfile)

## Logging

In [14]:
def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

 ## Running ETL Process

In [15]:
log("ETL Job Started")

NameError: name 'datetime' is not defined

In [ ]:
log("Extract phase Started")
extracted_data = extract()
log("Extract phase Ended")
extracted_data

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [29]:
# Save the Dataframe
# Save the Dataframe

#df_drop.to_csv('exchange_rates_1.csv')
df_drop = pd.Series(['Currency','Rates'])
# df = df_drop.str.extractall(pat = ('(?P<Currency>[A-Z])(?P<Rates>\d)'))

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).